.app-header {
  @include noselect();
  height: 60px;
  font-size: 15px;
  overflow: hidden;
  padding: 0 20px;
  white-space-collapse: discard;
  display: flex;
  flex-direction: row;
  > .item {
    height: 60px;
    line-height: 60px;
    margin-right: 10px;
    &.action {
      cursor: pointer;
    }
    &:after {
      @include ion();
      content: $ionicon-var-android-more-vertical;
      color: #ddd;
      margin-left: 10px;
    }
    &:last-child {
      &:after {
        display: none;
      }
    }
    &.logo {
      font-size: 18px;
      margin-left: -20px;
      padding-left: 20px;
    }
    &.with-prev-next {
      > .prev-next {
        &.no-prev {
          > .prev {
            opacity: 0.3;
            cursor: default;
          }
        }
        &.no-next {
          > .next {
            opacity: 0.3;
            cursor: default;
          }
        }
        > .content {
          display: inline-block;
        }
      }
    }
    &.optional {
      // @media @mobile {
      //   display: none;
      // }
    }
  }
}

.breadcrumb-prev-next {
  display: inline-block;
  line-height: 60px;
  > .app-icon {
    display: inline-block;
    padding: 10px;
    &.action {
      // .pointer;
    }
    &.no-action {
      color: #aaa;
    }
  }
}
