@mixin mobile {
  @media only screen and (max-width: 529px) {
    @content;
  }
}

@mixin tablet {
  @media only screen and (min-width: 530px) and (max-width: 949px) {
    @content;
  }
}

@mixin desktop {
  @media only screen and (min-width: 950px) and (max-width: 1128px) {
    @content;
  }
}

@mixin desktop-xl {
  @media only screen and (min-width: 1129px) {
    @content;
  }
}

@mixin container() {
  padding-left: 20px;
  padding-right: 20px;
}

@mixin noselect() {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  user-select: none;
}

@mixin ellipsis() {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

@mixin ion() {
  display: inline-block;
  font-family: "Ionicons";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  text-rendering: auto;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

$ionicon-var-android-more-vertical: '\f397';
