service cloud.firestore {
  match /databases/{database}/documents {

    function isSignedIn() {
      return request.auth.uid != null;
    }

    function isMember() {
      return isSignedIn();
    }

    function getUser() {
      return get('/databases/$(database)/users/$(request.auth.uid)');
    }

    function hasRole(name) {
      return isSignedIn() && (name in getUser().data.roles);
    }

    function isAdmin() {
      return isSignedIn() && hasRole('admin');
    }

    match /sources/{source} {
      allow read: if isMember();
      allow write: if isAdmin();
    }

    // TODO
    match /users/{uid} {
      allow read: if true;
      allow write: if false;
    }

  }

}
