{{#app-header/item/prev-next model=model.image array=model.images.content action=(action 'navigate')}}
  <div {{action 'click'}}>{{concat '#' model.image.data.identifier}}</div>
{{/app-header/item/prev-next}}
