{{#app-header/item/prev-next model=model.group array=model.groups.content action=(action 'navigate')}}
  <div {{action 'click'}}>{{concat '#' model.group.data.identifier}}</div>
{{/app-header/item/prev-next}}
